<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Email</th>
      <th>Podno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.From %></td>
        <td><%= entry.To %></td>
        <td><%= entry.Email %></td>
        <td><%= entry.PODno %></td>
        <td><%= link_to 'Show', entry %></td>
        <% if can? :update, entry %>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <% end %>
        <% if can? :destroy, entry %>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @entries.each do |entry| %>
  <% if can? :update, entry %>
    <%= link_to 'New Entry', new_entry_path %>
  <% end %>
<% end %>
